<div class = "search">
  <%= form_for :search_params, url: search_books_path, method: :get do |f| %>
        Search <%= f.text_field :search_word %>
      <%= f.submit 'Search' %>
  <% end %>
</div>


<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%= @book.title%></div>
  <div class="card-body text-success">
  
    <p class="card-text"><%= @book.description%></p>
  </div>
  <div class="card-footer bg-transparent border-success">
    <%=link_to "Edit", edit_book_path(@book.id)%>
    <%=link_to "Delete", book_path(@book.id), method: :delete%>
  </div>
</div>

