<!DOCTYPE html>
<html>
  <head>
    <title>LibraryRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'shared/header' %>
    
    <div class="container">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <div class = "flash"> <%= value %> </div> 
      </div>
    <% end %>
    </div>

    
<div class="wrapper">
 <div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-4">
          
      <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Menu</h3>
      </div>
        <ul class="list-unstyled components">
          <!--<p>Dummy Heading</p>-->
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Book</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <%= link_to "List", '#' %>
              </li>
              <li>
                <%= link_to "Add", '#' %>
              </li>
              <li>
                <%= link_to "Show", '#' %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <%= link_to "Science", '#' %>
              </li>
              <li>
                  <%= link_to "Classic", '#' %>
              </li>
              <li>
                  <%= link_to "Fiction", '#' %>
              </li>
            </ul>
          </li>
             <li>
              <%= link_to "About", '#' %>
          </li>
          <li>
              <%= link_to "Contact", '#' %>
          </li>
        </ul>
      </nav>
    </div>
    <div class = "col-lg-8">
      <%= yield %>
    </div>
  </div>
</div> 
    
    
  </body>
</html>
